<div class="form-container">
  <h1>Edit Entry </h1>

  <%= form_for @user_event, url: {action: "update"}, method: "put" do |f| %>
      <div class="form-group">
        <%= f.label :clock_in, "Clock In" %>
        <%= f.text_field :clock_in, class: "form-control" %> <br />
      </div>
      <div class="form-group">
        <%= f.label :clock_out, "Clock Out" %>
        <%= f.text_field :clock_out, class: "form-control" %> <br />
      </div>

      <div class="form-group">
        <%= f.label :reason, "Reason" %>
        <%= f.text_field :reason, class: "form-control" %> <br />
      </div>
      <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
